@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');
html, body{
  background-color: #202124;
  color: #FAF9F0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  padding: 0;
}

*{
  scroll-behavior: smooth;
}

a{
  color: #FDF996;
  text-decoration: none;
}
h1{
  font-size: 2em;
  line-height: 1.5em;
}
h3{
  font-size: 1.5em;
  text-align: left;
}
small{
  font-size: 0.75em;
  font-weight: 400;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-wrap{
  max-width: 31.25em;
}
.image-auto{
  width: 100%;
  height: auto;
}
.button{
  background-color: #FDF996;
  color:#202124;
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 15em;
  display: block;
}
.separator{
  width: 4em;
  height: 0.4em;
  border-radius: 0.4em;
  background-color: #FDF996;
  display: block;
  margin-top: 6em;
  margin-bottom: 6em;
}
#brandHeader{
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  margin-top: 2em;
}
.brand{
  width: 10em;
  height: auto;
}
#hero{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  z-index: 0;
  padding-left: 2em;
  padding-right: 2em;
}
#hero:before{
  content: '';
  display: block;
  position: absolute;
  /* left: 0;
  top: 0; */
  margin-top: 7.5em;
  width: 100%;
  height: 33em;
  opacity: 0.10;
  background-image: url('./images/hero-background.png');;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
#intro{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 8em;
  padding-bottom: 16em;
  background-color: #202124;
  /* border-bottom: 2px solid #FDF996; */
}
.intro-image{
  margin-top: 45px;
  width: 100%;
  height: auto;
}
.content{
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 680px;
}

.content-responsive{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 680px;
}

.content-right{
  display: flex;
  margin: 0;
  padding: 0;
  width: 300px;
}
.content-left{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 16px;
}

.available-on{
  text-align: center;
  margin-bottom: 16px;
  display: block;
}
.betaTesters{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  
}
.highlight{
  color: #FDF996;
}
#research{
  background-color: #353535;
  padding-top: 8em;
  padding-bottom: 16em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.splide{
  margin-top: 3em;
  max-width: 680px;
  width: auto;
}
.splide__arrow{
  background-color: #FDF996;
}
.splide__arrow--prev{
  left: -4em !important;
}
.splide__arrow--next{
  right: -4em !important;
}
.splide__pagination{
  bottom: -3.5em !important;
}
.splide__slide{
  opacity: 0.25;
}
.splide__slide.is-active{
  opacity: 1;
}
.splide__pagination__page{
  height: 0.3em;
  width: 0.3em;
  margin: 0.3em;
}
.splide__pagination__page.is-active{
  background-color: #FDF996;
  width: 1.2em;
  height: 0.3em;
  border-radius: 0.15em;
  margin-top: -1px;
}
.carousel-item{
  background-color: #FAF9F0;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color:#202124;
  height: 300px;
  /* width: 226px; */
}

.carousel-item > h4 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.carousel-item > h4::after {
  content: '';
  display: block;
  position: absolute;
  width: 2em;
  height: 0.25em;
  border-radius: 0.125em;
  background-color: #FDF996;
}

.carousel-item p{
  font-size: 0.875em;
  line-height: 1.3125em;
}

.my-carousel-progress {
  background: #ccc;
}

.my-carousel-progress-bar {
  background: #FDF996;
  height: 0.125em;
  transition: width 400ms ease;
  width: 0;
}

.content-2cols{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
}

#features{
  background-color: #202124;
  padding-top: 8em;
  padding-bottom: 8em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

#features .content{
  margin-bottom: 8em;
}
.feature{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3em;
  min-height: 468px ;
  width: 45%;
  position: relative;
}
.feature-separator{
  display: block;
  position: absolute;
  bottom: 1.5em;
  width: 4em;
  height: 1px;
  background: #FAF9F0;
}
.feature img{
  width: 4.75em;
  height: 4.75em;
}

#form{
  background-color: #202124;
  
  padding-bottom: 8em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.footer-brand{
  margin-top: 6em;
  margin-bottom: 2em;
  width: 5em;
  height: auto;
}


.ml-form-embedSubmit .primary{
  background-color: #FDF996;
  color:#202124;
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.content.legal{
  text-align: left;
}
.legal h4{
  display: block;
  text-align: left;
  width: 100%;
}
.legal p{
  display: block;
  text-align: left;
  width: 100%;
}
.legal ol{
  display: block;
  text-align: left;
  width: 100%;
}

.playStoreBadge{
  width: 180px;
  height: auto;
}

@media (max-width: 800px) {
  .brand{
    width: 6em;
    height: auto;
  }
  #intro .content-right{
    justify-content: center;
  }
  .content{
    max-width: inherit;
    width: 100%;
  }
  .content-responsive {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .content-right{
    width: 100%;
  }
  .content-left{
    width: 100%;
    padding-right: 0px;
  }
}


@media (max-width: 620px) {
  .content-2cols{
    flex-direction: column;
  }
  .feature{
    width: 100%;
  }
}


@media (min-width: 400px) {
  .intro-image{
    width: 360px;
    height: auto;
  }  

}